/* importing google font outfit and prata  */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* this is to hide the anchor link hr when it class it not set to active */
a.active hr{
  display: block;
}

*{
  font-family: Outfit;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
/* changing the bg color an ancho tag to black and text white */
@media (max-width:640px) {
  a.active{
    background-color: black;
    color: white;
  }
}